<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>booking appontment </title>
    <style>
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <h1>Booking Appointment</h1>
    <form action="/success">
    <label for="">Name:</label>
    <input type="text" name="name" placeholder="Enter a name">
    <label for="">Email ID:</label>\
    <input type="email" name="email" id="">
    <button>
        click me
    </button>
</form>
</div>

    
</body>
</html>